
.containerMain{
    background-color: white;
    border-radius: 20px;
    width: 75vw;
    height: 80vh;
    display:  flex;
    padding: 0;

}

.containerMain .display-transaction{
    width: 100%;
    padding: 2rem;
   
}
.containerMain .display-transaction .money-property{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.containerMain .display-transaction .money-property .balance-amount{
    width: 30%;
    height: 80%;
    background-color: white;
    border: 1px solid black;
    margin: .5rem;
    border-radius: 10px;
}
.containerMain .display-transaction .money-property  .total-income{
    width: 30%;
    height: 80%;
    background-color: rgb(70, 187, 70);
    margin: .5rem;
    border-radius: 10px;

}
.containerMain .display-transaction .money-property .total-expense{
    width: 30%;
    height: 80%;
    background-color: rgb(229, 102, 102);
    margin: .5rem;
    border-radius: 10px;

}
.header{
    display: flex;
    margin-top: 1rem;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.transaction-body{
    display: flex;
    margin-top: 1rem;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*------------------------------*/
.containerMain .recent-transaction{
    height: 70%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.containerMain .recent-transaction table{
    width: 100%;
    height: auto;
    text-align: center;
    
    
}
.containerMain .recent-transaction table thead{
    
    border-radius: 10px;
}
.containerMain .recent-transaction table th{
    height: 50px; 
    border-bottom: 1px solid black;
    
}
.containerMain .recent-transaction table tbody{
    border-bottom: 1px solid black;
    background-color:#e5e4e2;
}
.containerMain .recent-transaction table tbody td {
    padding-top: 2px;
    height: 50px;
    border-top: 1px solid black;

}


